#game {
    display: flex;
    flex-direction: column;
}

#game div {
    display: flex;
    flex-flow: row wrap;
}

#game div p {
    background-color: darkcyan;
    margin: 10px;
}

.hidden {
    visibility: hidden;
}